@use './../scss/mixins' as *;
@use './../scss/colors';
@use './../scss/fonts';

.page__contact{
    margin: 0 auto;
    width: min(100%,450px);
    &__icons{
        font-size: 2rem;
        margin-bottom: 1rem;
        @include flex-center(row,4rem);
        &-bigger{
            font-size: 2.5rem;
        }
        a{
            color: colors.$light;
            text-decoration: none !important;
        }
    }
}
.form{
    padding: 1rem 1.5rem;
    margin-bottom: 3rem;
    border: 2.5px solid colors.$light-transparent;
    overflow: hidden;
    &__group{
        height: 4rem;
        &-msg{
            color: colors.$secondary;
            font-size: 0.9rem;
        }
        &-input,&-area{
            width: 100%;
            font-size: fonts.$paragraph;
            font-family: fonts.$secondary;
            background-color: colors.$grey-transparent;
            color: colors.$light;
            outline: none;
            border: none;
            border-bottom: 2.5px solid colors.$primary;
            padding: 0.5rem 1rem;
        }
        &-area{
            min-width: 100%;
            max-width: 100%;
            min-height: 10rem;
            max-height: 10rem;
        }
        &--area{
            height: 12rem;
        }
    }
}