@use '../scss/mixins' as *;
@use '../scss/fonts';
@use '../scss/colors';

.page-header{
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.page__navbar{
    height: 4rem;
    width: min(100%,1150px);
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    &-lang{
        font-size: 1.4rem;
        background-color: transparent;
        color: colors.$light;
        border: none;
        border-bottom: 1px solid colors.$light;
        outline: none;
        option{
            background-color: colors.$dark;
        }
    }
    &-list{
        display: none;
        list-style-type: none;
        &__item{
            cursor: pointer;
            a{
                color: colors.$light;
                text-decoration: none;
            }
        }
    }
    &-icon{
        font-size: 2.2rem;
        @include flex-center(row);
    }
}

.page__sidebar{
    height: 100vh;
    width: 0;
    background-color: colors.$grey-transparent;
    backdrop-filter: blur(15px);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.4rem;
    overflow: hidden;
    &-list{
        height: 100%;
        list-style-type: none;
        @include flex-center(column,2rem);
        &__item{
            font-size: 1.8rem;
            a{
                color: colors.$light;
                text-decoration: none;
            }
            cursor: pointer;
        }
    }
    &-icon{
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2.2rem;
        @include flex-center(row);
    }
}
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .page__sidebar {
      background-color: #424242e6;
    }
}

@media (min-width: 662px) {
    .page__navbar{
        &-list{
            @include flex-center(row,2rem);
        }
        &-icon{
            display: none;
        }
    }
    .page__sidebar{
        display: none;
    }
}

select{

}