@use '../scss/mixins' as *;
@use '../scss/fonts';
@use '../scss/colors';

.notification{
    height: 4rem;
    background-color: colors.$grey;
    color: colors.$light;
    border-left: 1rem solid colors.$secondary;
    font-family: fonts.$secondary;
    font-size: 1.2rem;
    @include flex-center();
    &-message{
        width: calc(100% - 2rem);
        padding: 0 0.5rem;
    }
    &-close{
        font-size: 1.5rem;
        cursor: pointer;
        position: relative;
        top: -20%;
        right: 1%;
    }
    &--error{
        border-left-color: colors.$primary;
    }
}