@use '../scss/mixins' as *;
@use '../scss/fonts';
@use '../scss/colors';

.page__skills{
    &-header{
        font-size: fonts.$header;
        font-weight: bold;
        margin-bottom: 2rem;
    }
    &-content{
        padding: 0 2rem;
    }
}
.skills-set{
    margin-bottom: 2rem;
    width: min(100%,17.5rem);
    &-title{
        text-align: center;
    }
    &__list{
        list-style-type: none;
        line-height: 2.25rem;
        padding: 0 1rem;
        &-item{
            display: flex;
            align-items: center;
            gap: 1em;
            font-size: fonts.$paragraph-bigger;
            font-weight: bold;
        }
        &-icon{
            display: grid;
            font-size: 1rem;
        }
    }
}
@media (min-width: 992px) {
    .page__skills{
        &-header{
            margin-bottom: 4rem;
        }
        &-content{
            padding: 0;
            display: flex;
            justify-content: space-around;
        }
    }
    .skills-set{
        &__list{
            line-height: 4rem;
        }
    }
}