@use './scss/fonts';
@use './scss/colors';

@mixin flex-center($direction:row,$space:0) {
    display: flex;
    justify-content: center;
    align-items: center;
    @if $direction != row {
        flex-direction: column;
    }
    @if $space > 0 {
        gap: $space;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('./assets/Sprinkle.svg');
    font-family: fonts.$primary;
    color: colors.$light;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page{
    width: min(100%,1150px);
    padding: 1rem 2rem;
    position: relative;
    margin: auto;
}

.transparent-box{
    font-size: fonts.$paragraph;
    font-family: fonts.$secondary;
    background-color: colors.$grey-transparent;
    padding: 1em;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.gradient-bg{
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(178,11,82,0.5) 10%,
     rgba(178,11,82,1) 20%, rgba(178,11,82,1) 80%,
     rgba(178,11,82,0.5) 90%, rgba(0,0,0,0) 100%);
}

.gradient-text{
    background: linear-gradient(90deg, colors.$secondary 0%, colors.$light 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

$divider-colors: (
    primary: colors.$primary,
    secondary: colors.$secondary,
    light-transparent: colors.$light-transparent
);

@each $name, $color in $divider-colors {
    .divider-#{$name}{
        border-color: $color;
        background-color: $color;
        margin: 1rem 0;
    }
}
.divider--only-desk{
    display: none;
}

@media (min-width: 992px) {
    .transparent-box{
        overflow: auto;
    }
    .divider--only-desk{
        display: block;
    }
}
@import './scss/button';
@import './scss/utils';