@use './scss/fonts';
@use './scss/colors';

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('./assets/Sprinkle.svg');
    font-family: fonts.$primary;
    color: colors.$light;
}
.wrapper{
    display: flex;
    justify-content: center;
    position: relative;
}
.section{
    width: min(100%,1250px);
    padding: 1rem;
}