@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
$primary: 'Open Sans', sans-serif;
$secondary: 'Ubuntu Mono', monospace;
$header: clamp(15px,4.5vw,25px);